<!DOCTYPE html>
<html>
	<head>
    <link href="css/controller1.css" rel="stylesheet">
		<title>Programação móvel para IoT - Senai</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="javascript/controller1.js"></script>
	</head>
	<body>
    <h1>Vamos ver um exemplo de aplicação de controllers?     </h1>
    <div ng-app="myApp" ng-controller="myController">
	
      <p>Os termos já são preenchidos pelo controller.</p>
	  
      <input type="text" ng-model="nome"> Nome
      <p></p>
      <input type="text" ng-model="sobrenome"> Sobrenome
	   <p></p>
	  <input type="text" ng-model="idade"> Idade
     
    <p> O nome do usuário é {{nome + " " + sobrenome + " de " + idadefuturo + " anos"}}</p>
    </div>
	</body>
</html>
