<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link href="css/angular1.css" rel="stylesheet">
  </head>
  <body>
    <div ng-app="">
      <h1>Digite seu nome e veja o que acontece.</h1>
      <p>Nome : <input type="text" ng-model="nome" placeholder="Digite seu nome"></p>
	  <p>Idade : <input type="number" ng-model="idade" placeholder="Digite sua idade"></p>
	  <p></p>
      <p>Olá</p><p ng-bind="nome"></p>
	  <p></p>
	  <p>Idade</p><p ng-bind="idade"></p>
    </div>
  </body>
</html>


